.hero-right {
  position: relative;
  top: 180px;
  margin-left: auto;
}

.hero-right .hero-actions {
  justify-content: flex-end;
}

@media (max-width: 700px) {
  .hero-right {
    top: 0;
    margin-left: 0;
  }

  .hero-right .hero-actions {
    justify-content: flex-start;
  }
}